<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile" filename="d:\RestaurantApiLogs\nlog-all-${shortdate}.log"
				layout="${longdate}|{event-properties:item=EventId_Id}|${uppercase:${level}}|${message}"/>
		<target xsi:type="File" name="exception" filename="d:\RestaurantApiLogs\nlog-exception-${shortdate}.log"
				layout="${longdate}|{event-properties:item=EventId_Id}|${uppercase:${level}}|${message}"/>
		<target xsi:type="File" name="requesttime" filename="d:\RestaurantApiLogs\request-time-${shortdate}.log"
				layout="${longdate}|{event-properties:item=EventId_Id}|${uppercase:${level}}|${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile"/>
		<logger name="*" minlevel="Error" writeTo="exception"/>
		<logger name="Restaurant_5._0.Middleware.RequestTimeMiddleware" minlevel="Information" writeTo="requesttime"/>
	</rules>
</nlog>